.ourProjects {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 40px;
	// .ant-card{
	// 	width: 100%;
	// 	height:100%;
	// 	background: #e9eef5;
	// 	// border-radius: 10px;
	// 	img{
	// 		width: 100%;
	// 	}
	// 	.ant-card-head{
	// 		width: 100%;
	// 	}
	// 	.ant-card-head-wrapper{
	// 		width: 100%;
	// 	}
	// 	.ant-card-cover{
	// 		width: 100%;
	// 		height: 70%;
		
	// 	}
	// 	.ant-card-head-title{
	// 		font-size: 20px;
	// 		white-space: unset;
	// 		width: 100%;
	// 		// height: 50%;
		
	// 	}
	// 	.ant-card-body{
	// 		text-align: left;
	// 		width: 100%;
	// 		// height: 80%;
	// 		text-align: center;
	// 	}
	// }
	
	.card-back{
		
		.ant-card-body{
			text-align: left;
		}
		.ant-card-head{
			height: 35%;
		}
		.ant-card-head-wrapper{
			height: 100%;
		}
		.ant-card-head-title{
			height: 100%;
		}
	}

	// 180deg 参考：https://wow.techbrood.com/fiddle/17331
	.card-container {
		width: 30%;
		height: 49%;
		margin-right: 10px;
    // perspective: 900px;
	}
	.card-wrap {
			position: relative;
			width: 100%;
			height: 100%;
			transition: all 0.6s ease;
			transform-style: preserve-3d;
	}
	.card-front,
	.card-back {
			cursor: pointer;
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			backface-visibility: hidden;
	}

	.card-container:hover .card-wrap {
		transform: rotateY(180deg);
	}

	.card-back {
		transform: rotateY(180deg);
	}

}